
#forgotPassword-resetCode-mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to 100% of the viewport height */
    background: linear-gradient(to bottom right, #bdc3c7, #2c3e50); /* Add a gradient background for the shadow effect */
}

#forgotPassword-resetCode-paper {
    padding: 5% 5% 2% 5%;
    text-align: center; /* Center text content within the Paper */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5); /* Adjust the shadow as needed */
    background-color: white; /* Set the background color */
    width: 50%;
}

#forgotPassword-resetCode-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forgotPassword-resetCode-outerGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#forgotPassword-resetCode-innerGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 7%;
   
}

#forgotPassword-resetCode-submit {
    width: 15%;
    margin-top: 3%;
    padding: .5%;
} 

